# SPDX-License-Identifier: GPL-2.0-only
config ARM_FFA_TRANSPORT
	tristate "Arm Firmware Framework for Armv8-A"
	depends on OF
	depends on ARM64
	default n
	help
	  This Firmware Framework(FF) for Arm A-profile processors describes
	  interfaces that standardize communication between the various
	  software images which includes communication between images in
	  the Secure world and Normal world. It also leverages the
	  virtualization extension to isolate software images provided
	  by an ecosystem of vendors from each other.

	  This driver provides interface for all the client drivers making
	  use of the features offered by ARM FF-A.

config ARM_FFA_SMCCC
	bool
	default ARM_FFA_TRANSPORT
	depends on ARM64 && HAVE_ARM_SMCCC_DISCOVERY

config ARM_FFA_ACS_USER
    tristate "ACS User space FF-A interface"
    depends on ARM_FFA_TRANSPORT
    default n
    help
      Enable a character interface that can be used by the Architecture
      Compliant Suite user application to validate the compliance of the
      underlying system.
      When the interface is opened, all other FF-A clients interfaces
      inside the kernel are disabled (drivers get a BUSY error back) and
      all notification handling is delegated to the ACS user space application.
      Once the interface is closed, all behaviours goes back to normal.

      This option shall not be enabled in a production system but only during
      development.
